<!-- Breadcrumbs With Separators -->
<nav aria-label="Breadcrumb" class="bg-background px-4 py-3 sm:px-6 lg:px-8 border-b border-border">
  <ol role="list" class="flex items-center space-x-2">
    <li>
      <div>
        <a href="#" class="text-sm font-medium text-muted-foreground hover:text-foreground">
          <!-- Heroicon name: mini/home -->
          <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 10.707V17.5a1.5 1.5 0 01-1.5 1.5h-3a1.5 1.5 0 01-1.5-1.5v-3.379a1 1 0 00-.707-.707H9.707a1 1 0 00-.707.707V17.5a1.5 1.5 0 01-1.5 1.5h-3A1.5 1.5 0 013 17.5V10.707a1 1 0 01.293-.707l7-7z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <!-- Separator -->
        <svg class="h-5 w-5 flex-shrink-0 text-border" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="#" class="ml-2 text-sm font-medium text-muted-foreground hover:text-foreground">Category</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <!-- Separator -->
         <svg class="h-5 w-5 flex-shrink-0 text-border" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <a href="#" class="ml-2 text-sm font-medium text-muted-foreground hover:text-foreground">Subcategory</a>
      </div>
    </li>
     <li>
      <div class="flex items-center">
        <!-- Separator -->
         <svg class="h-5 w-5 flex-shrink-0 text-border" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
        <span class="ml-2 text-sm font-medium text-foreground" aria-current="page">Current Page</span>
      </div>
    </li>
  </ol>
</nav>
