<!-- Testimonials With Company Logos -->
<div class="bg-muted py-16 sm:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <!-- Testimonial 1 -->
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <img class="h-12 self-start" src="https://tailwindui.com/img/logos/tuple-logo-gray-900.svg" alt="Tuple logo">
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg leading-8 text-foreground">
            <p>“Amet amet eget scelerisque tellus sit neque faucibus non eleifend. Integer eu praesent at a. Ornare arcu gravida natoque erat et cursus torto.”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img class="h-10 w-10 rounded-full bg-background object-cover" src="https://picsum.photos/50/50?random=tlc1" alt="">
            <div class="text-base">
              <div class="font-semibold text-foreground">Judith Black</div>
              <div class="mt-1 text-muted-foreground">CEO of Tuple</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- Testimonial 2 -->
      <div class="flex flex-col border-t border-border pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20">
        <img class="h-12 self-start" src="https://tailwindui.com/img/logos/reform-logo-gray-900.svg" alt="Reform logo">
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg leading-8 text-foreground">
            <p>“Qui dolor enim consectetur do et aliquip. Ullamco anim laboris anim consectetur enim occaecat veniam nostrud sunt id culpa culpa.”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img class="h-10 w-10 rounded-full bg-background object-cover" src="https://picsum.photos/50/50?random=tlc2" alt="">
            <div class="text-base">
              <div class="font-semibold text-foreground">Joseph Gray</div>
              <div class="mt-1 text-muted-foreground">CTO of Reform</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>